@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h1>Engineer Details</h1>
<hr />
<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h2>
<ul>
@if (@Model.Machines.Count == 0)
{
  <h3>No machines have been added yet!</h3>
} 
</ul> 
<h3><i>Machine List</i></h3>
@foreach (Machine machine in Model.Machines)
{
  <li>@machine.Name</li>
}
<p>@Html.ActionLink("Add a machine", "Create", "Machines")</p>
<hr />
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Engineers", "Index")</p>