@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Engineer Details</h1>
<hr />
<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h2>
<ul>

@if (@Model.JoinEntities.Count == 0)
{
  <h3>No machines have been assigned to this engineer yet!</h3>
} 
else
{
  <h3><i>This engineer's assigned machines include</i></h3>
  <ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@join.Machine.Name</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
       @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete" class="btn btn-default" />
    }
  }
  </ul>
}

<p>@Html.ActionLink("Assign an existing machine to this engineer", "AddMachine", new { id = Model.EngineerId })</p>
<hr />
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Engineers", "Index")</p>